<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %> <!-- Everything in this is running as expected, except the style sheets. DEBUG -->
</head>
<body>
  <%- include('./partials/nav.ejs') %>

  <div class="formDiv">
    <form name="editCampaign" action="/campaigns/edit/<%=thisCampaign._id%>?_method=POST" method="POST">
      <input type="hidden" name="ownedBy" value="<%=thisUser._id%>">
      <label for="nickName">Campaign Name</label>
      <input type="text" name="nickName" value="<%=thisCampaign.nickName%>">
      <label for="imgUrl">URL for map image</label>
      <input type="text" name="imgUrl" value="<%=thisCampaign.imgUrl%>">
      <label for="chars">List of characters (comma separated)</label>
      <input type="text" name="chars" value="<%=thisCampaign.chars%>">
      <label for="viewable">Make campaign publicly visible?</label>
      <input type="checkbox" name="viewable" 
        <% if (thisCampaign.viewable) {
          %>checked<%
        }%>
      >
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>