<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %> <!-- Everything in this is running as expected, except the style sheets. DEBUG -->
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>dungeonCore</h1>
  <div class="formDiv">
    <form name="changeUsername">
      <p>Change Username</p>
      <input type="hidden" name="id" value="<%=thisUser._id%> ">
      <input type="text" name="username" value="<%=thisUser.username%>">
      <input type="submit" value="Submit">
    </form>
  </div>
  <div class="formDiv">
      <form name="changePassword">
        <p>Change Password</p>
        <input type="hidden" name="id" value="<%=thisUser._id%> ">
        <input type="text" name="password">
        <input type="submit" value="Submit">
      </form>
    </div>
    <div class="formDiv">
        <form name="delete">
          <input type="hidden" name="id" value="<%thisUser._id%> ">
          <input type="submit" value="Delete Account">
        </form>
      </div>
</body>
</html>