<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %> <!-- Everything in this is running as expected, except the style sheets. DEBUG -->
</head>
<body>
  <%- include('./partials/nav.ejs') %>

  <div class="displayCampaigns">
    <a href="/campaigns/new"><button>Create Campaign</button></a>
    <div id="campaignDisplay">
      <% for (campaign in Campaigns) {
      %>  
      <a href="/campaigns/view/<%=Campaigns[campaign]._id%>"><h4><%=Campaigns[campaign].nickName%></h4></a>
      <img src="<%=Campaigns[campaign].imgUrl%>">
      <p></p>
      <a href="/campaigns/edit/<%=Campaigns[campaign]._id%>"><button>Edit</button></a>
      <%
      } %>
    </div>
  </div>

</body>
</html>