<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %> <!-- Everything in this is running as expected, except the style sheets. DEBUG -->
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="viewCampaign">
  <h2>Campaign: <%=thisCampaign.nickName%></h2>
    <div id="campaignDetails">
        <img src="<%=thisCampaign.imgUrl%>">
        <a href="/campaign/edit/<%=thisCampaign._id%>"><button>Edit</button></a>
    </div>
    <form href="/campaign/delete/<%=thisCampaign._id%>?_method=DELETE"><button type="submit">Delete Campaign</button></form>
  </div>
</body>
</html>